navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 1% 5%;
}

.namePage {
    font-family: var(--fontLetter1);
    font-size: 10rem;
    color: var(--colorYellow);
    position: relative;
}
  
.buttonResult {
    font-family: var(--fontLetter2);
    font-size: 2rem;
    color: var(--colorWhite);
    background-color: var(--colorPink);
    border-radius: 1.3rem;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    padding: 1rem 5rem 1rem 5rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontLetter2);
    color: var(--colorWhite);
    font-size: 2rem;
    margin-bottom: 1rem;
}

