.container {
  width: 63%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  justify-content: center;
  margin: 1rem 0rem 2rem 20rem;
}
    
.displayNone {
  display: none;
  }
.disappear1{
  display: block;
}

.image {
  width: 15rem;
  height: 20rem;
} 