.container {
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3.9rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 5rem;
}
    
.displayNone {
  display: none;
  }
.disappear1{
  display: block;
}
